
/* ELEMENT SELECTORS */
p {
    text-align: justify;
    text-justify: inter-word;
}

/* CLASS SELECTORS */
.borda {
    margin: 0 auto;
    border: 1px solid #000000;
}

.jumbotron {
    background-image: ("900x300.png");
    background-color: transparent;
}
